.leftr1{
	height: 70px;
	width: 30%;
	float: left;
	margin-left: 2em;
	background-color: #122B40;
}
.leftr2{
	height: 70px;
	width: 30%;
	float: left;
	background-color: #122B40;
	margin-left: 2em;
}
.leftr3{
	height: 70px;
	width: 30%;
	float: left;
	background-color: #122B40;
	margin-left: 2em;
}